#henosisLayer
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*Remove margin style definition if Bootstrap is used. -- start*/
  margin-left: -8px;
  margin-top: -8px;
  /*Remove margin style definition if Bootstrap is used. -- end*/
  z-index: 10;
  background: white;
  pointer-events: none;
}

#henosis, #actCircle, #actCircleShadow
{
  pointer-events: visibleFill;
}

#container1, #container2
{
  /*display: none; use if you are using display mode*/
  /*visibility: hidden; use if you are using visibility mode*/
  overflow: scroll;
}
